
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-body">
        <h1 class="text-center mb-3">AgileMovies</h1>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput type="text" [(ngModel)]="user.username" name="username">
          <button *ngIf="user.username != ''" mat-button matSuffix mat-icon-button aria-label="Username" (click)="user.username=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Password</mat-label>
          <input #passInput matInput [type]="type" [(ngModel)]="user.password" name="password">
          <button
            [color]="type === 'text' ? 'warn':''"
            mat-button matSuffix mat-icon-button
            aria-label="Change Password"
            (click)="type = (type === 'text') ? 'password' : 'text'">
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-form-field>
        <button (click)="login()" class="w-100 mt-3" mat-raised-button color="primary">Login</button>
			</div>
		</div>
	</div>
</div>
