<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button matTooltip="Menu" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Agile Movies</span>
    <span
      class="ms-auto me-2"
      [matTooltip]="(dataShared?.user?.username + ' - ' + dataShared?.user?.email + ' - ' + dataShared?.user?.firstName + ' ' + dataShared?.user?.lastName) || ''">
      Hola
      {{dataShared?.user?.firstName}} {{dataShared?.user?.lastName}}
    </span>
    <button matTooltip="Cerrar Sesión!" mat-icon-button (click)="loginService.logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar *ngIf="dataShared.loading" mode="query"></mat-progress-bar>
