:host {
  display: block;
  padding: 1rem;
  mat-panel-title {
    &:hover {
      box-shadow: inset 1px 1px 5px rgba(0,0,0,0.2);
    }
  }
  .to-nav-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  ::ng-deep {
  }
  ::ng-deep {
    mat-expansion-panel {
      .mat-expansion-panel-body {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
      }
    }
    mat-expansion-panel-header > span.mat-content {
      padding-right: 1rem;
    }
    mat-nav-list {
      a {
        .mat-list-item-content {
          padding: 0 4px !important;
        }
      }
      a.icon-trash {
        .mat-list-item-content {
          padding: 0 !important;
        }
      }
    }
  }
}
div:focus {
  outline: none;
}

.active-link {
  color: #2196f3
}
